name: secure_ptt_mobile
description: Native mobile wrapper for SecurePTT
publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: '>=3.0.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter
  # Used to render the SecurePTT Web App
  webview_flutter: ^4.7.0
  # Required to grant Microphone access for PTT
  permission_handler: ^11.3.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^3.0.0

flutter:
  uses-material-design: true